PORT=3000
# MONGO_URI=mongodb+srv://dipeshchourasiya12_db_user:zhYJ7GrQH2YewI6d@clusterquize0.ga3ejom.mongodb.net/?appName=ClusterQuize0
MONGO_URI=mongodb://dipeshchourasiya12_db_user:zhYJ7GrQH2YewI6d@ac-0oltzob-shard-00-00.ga3ejom.mongodb.net:27017,ac-0oltzob-shard-00-01.ga3ejom.mongodb.net:27017,ac-0oltzob-shard-00-02.ga3ejom.mongodb.net:27017/?ssl=true&replicaSet=atlas-j036q0-shard-0&authSource=admin&appName=ClusterQuize0
JWT_SECRET=mySuperSecretKey123